
# Binaries
bin/oasis3_MPI1*
bin/cice_MPI1*
bin/matm_MPI1*
bin/mom4_MPI1.exe
bin/fms_MOM_ACCESS*
bin/mppnccombine.exe
bin/calendar.exe

# Other repos
submodels/oasis3-mct
submodels/mom5

submodels/tags

submodels/cice4.1/compile/build_MPI1_6p
submodels/matm/compile/build_MPI1_nt62/
submodels/mom4p1/compile/build_MPI1/
